:root {
  --primary-color: rgba(229, 9, 20, 1);
  --dark-color: #141414;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  color: #999;
  background-color: #000;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}


.showcase::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000058;
}
.showcase {
    border: 1px solid red;
  width: 100%;
  height: 93vh;
  position: relative;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 140px 300px 180px rgba(0, 0, 0, 0.65),
    inset -140px -300px 180px rgba(0, 0, 0, 0.65);
}
.showcase-top {
  position: relative;
  height: 93px;
  z-index: 2;
}
.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase-top a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* showcase-content */
.showcase-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  text-align: center;
  z-index: 2;
}
.showcase-content h1 {
  font-size: 4.7rem;
  font-weight: bold;
  margin-bottom: 1.75rem;
}
.showcase-content p {
  margin: 0 0 1rem;
  font-weight: 400;
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}


/* section */
.tabs {
  background: var(--dark-color);
  border-bottom: 2px solid rgba(255, 255, 255, 0.132);
  padding-top: 1rem;
}
.tabs .container {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: center;
  gap: 1rem;

  overflow: hidden;
}
.tab-item p {
  padding-top: 0.5rem;
  font-size: 1.2rem;
}
.tabs .container > div {
  padding: 2rem 0 2rem;
}
.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}
.tabs .tab-border {
  border-bottom: 4px solid var(--primary-color);
}
/* Tab-content */
.tab-content {
  padding: 3rem 0;
  color: #fff;
  background: #000;
}
#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}





/* container */
.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
/*Text styles */
.text-xl {
  font-size: 2rem;
  margin-bottom: 1.1rem;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1.1rem;
}
.text-md {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}
.text-center {
  text-align: center;
}
.text-dark {
  color: #999;
}


/* button */

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem 0.7rem;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  margin-right: 0.25rem;
}

.btn-rounded {
  border-radius: 6px;
}
.btn-lg {
  font-size: 1.7rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}
.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.9;
}
